.header	{
	height: 100px;
	background-color: grey;
	margin: 20px;
}

.left-menu-top {
	background-color: grey;
	height: 300px;
	margin-bottom: 350px;
}

.left-menu-bottom {
	background-color: grey;
	height: 150px;
}

.article {
	height: 200px;
	background-color: #e3e3e3;
}

.images {
	display: flex;
	flex-wrap: wrap;
}

.image {
	height: 170px;
	width: 150px;
	background-color: #e3e3e3;
	margin-right: 30px;
	margin-top: 20px;
}

.article-bottom {
	display: flex;
}

.article-bottom-item {
	height: 200px;
	background-color: #e3e3e3;
	margin-top: 20px;
}

@media (max-width: 768px) {
	.first-order {
		order: 1;
	}
}

@media (max-width: 768px) {
	.second-order {
		order: 2;
	}
}

.footer {
	padding: 20px;
	height: 200px;
	width: 100%;
	background-color: grey;
}

.contact {
	display: flex;
	flex-wrap: wrap;
}

.contact div {
	height: 90px;
	width: 100%;
	background-color: grey;
	margin-top: 10px;
}